@model IEnumerable<BrandViewModel>

<div class="brands_products">
    <!--brand-productsr-->
    <h2>Бренды</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var brand in Model)
            {
                <li>
                    <a asp-action="Shop" asp-controller="Catalog" asp-route="@brand.Id"></a>
                </li>
            }
        </ul>
    </div>
    }
</div><!--/brand-products-->
